[submodule "vnpy_xt"]
	path = vnpy_xt
	url = git@github.com:hexstarry/vnpy_xt.git

[submodule "vnpy_algotrading"]
	path = vnpy_algotrading
	url = git@github.com:hexstarry/vnpy_algotrading.git
[submodule "vnpy_autorepay"]
	path = vnpy_autorepay
	url = git@github.com:hexstarry/vnpy_autorepay.git
[submodule "vnpy_ctastrategy"]
	path = vnpy_ctastrategy
	url = git@github.com:hexstarry/vnpy_ctastrategy.git
